

<div class="card-body">
    <table class="table table-bordered dataTable">
        <thead>
            <tr>

                <th>
                    <b>Department</b>
                </th>
                <th>
                    <b>Company</b>
                </th>

                <th>
                    <b>Status</b>
                </th>
                <th style="width: 70px"><b>Action</b></th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @item.Name
                </td>
                <td>
                    @item.CompanyName
                </td>

                <td>
                    @if (item.IsActive)
                    {
                        <span class="label label-success"> @item.ActiveLabel</span>
                    }
                    else
                    {
                        <span class="label label-danger"> @item.ActiveLabel</span>
                    }
                </td>
                <td>
                    <a title="Edit" href="@Url.Action("EditDepartment", "CompanyDepartment", new {compDepartmentId = item.Id})" data-modal=""><i class="fa fa-edit"></i></a>
                   
                </td>
            </tr>
        }

    </table>
</div>


<script>
    $(document).ready(function () {

        $('.dataTable').DataTable({ "ordering": false});

        $(document).on("click", ".tr-show", function () {
            var mclass = $(this).attr("data-showTR");
            $("." + mclass).toggle();
        });

        $("a[data-modal]").on("click", function (e) {
            $(e.target).closest('.btn-group').children('.dropdown-toggle').dropdown('toggle');
            $('#modalContent').load(this.href, function () {
                $('#dvModal').modal('show', {
                    backdrop: 'static',
                    keyboard: false,
                });
            });

            return false;
        });
    });

      
</script>
